%footer.primary-footer
  %section
    .container
      .row
        .col-sm-6.half-padding-top
          %ul.link-list
            %li
              &copy Everleads 2017
            %li
              %a{:href=>"#"}
                Terms
            %li
              %a{:href=>"#"}
                Privacy
        .col-sm-6.text-right
          %ul.social-list
            %li.social-font-name
              %a{:href=>"#"}
                f
            %li.social-font-name
              %a{:href=>"#"}
                t
            %li.social-font-name
              %a{:href=>"#"}
                i
