%footer.primary-footer
  %section
    .container
      .row
        .col-sm-6
          %ul.link-list.pull-left
            %li
              &copy Everleads 2017
            %li
              %a{:href=>"#"}
                Terms
            %li
              %a{:href=>"#"}
                Privacy
        .col-sm-6
          %ul.social-list.pull-right
            %li.social-font-name
              %a{:href=>"#"}
                f
            %li.social-font-name
              %a{:href=>"#"}
                t
            %li.social-font-name
              %a{:href=>"#"}
                i
