.feature-panel{
    padding:$baseline*1.5;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    width: 460px;
    min-height: 600px;
    height: 100%;
    overflow: hidden;
    background: #36424C;
    background-size: cover;
    @extend %white_text;
    .contact-logo{
        margin-bottom:80px;
    }
    h5{
        margin-bottom:34px;
    }
}

.main-panel{
    height: 100%;
    overflow: auto;
    margin-left: 460px;
    position:relative;
	@include breakpoint(md) {
		margin-left:0;
	}
	.panel-inner{
		display: table;
		width: 100%;
		height: 100%;
	}
}