%section.inverse-section.home-hero.rellax{:style=>"background-image:url(images/home-hero-bg.png);", "data-rellax-speed"=>"-4"}
	.container
		.row
			.col-lg-12.text-center.rellax{"data-rellax-speed"=>"4"}
				%h1
					Access over <strong>8,000</strong> marketing records
				.row
					.col-sm-2
					.col-sm-8
						%p.margin-bottom.lead
							Donec nulla lorem, auctor at neque sed, feugiat gravida sapien. Donec quam est, interdum eleifend rhoncus quis, porttitor varius tortor. Nam sed tempor diam.
					.col-sm-2

				%a.btn.btn-primary.btn-strech{:href=>"#"}
					Contact Sales