%section.inverse-section.bg-cover.home-footer-bg
	.container
		.row.text-center.navy-layer
			%img{:src=>"../images/everlead-lightbulb.png", :width=>"124"}
		.row
			%h6.text-uppercase.bold-font-name.text-center.half-padding-top
				Ready To Get Started
		.row.text-center
			%h3
				You’re going to be amazing
		.row.text-center.margin-bottom
			%a.btn.btn-primary.btn-shadow.btn-strech.margin-top{:href=>"/contact"}
				Contact sales