:css
	body{
		padding-top:0!important;
	}
	.navbar-default{
		display:none;
	}
	footer{
		display:none;
	}

.feature-panel.hidden-sm.hidden-xs
	%p
		Oh hoi
.main-panel
	.panel-inner
		%section.contact-section.hero-header-lg{:style=>"background-image:url(../images/contact_bg.png);"}
			.container-fluid
				.row
					.col-md-2
					.col-md-8
						%h2.text-center
							We can’t wait to help you
						%p.text-center.margin-bottom
							Fill out the form below and we’ll respond within 24hrs
						%form
							.row
								.col-md-12
									.form-group
										%input.form-control.input-lg{:type=>"text", :placeholder=>"Name"}
								.col-md-12
									.form-group
										%input.form-control.input-lg{:type=>"text", :placeholder=>"Company"}
								.col-md-12
									.form-group
										%input.form-control.input-lg{:type=>"text", :placeholder=>"Email"}
								.col-md-12
									.form-group
										%input.form-control.input-lg{:type=>"text", :placeholder=>"Phone"}
								.col-md-12
									.form-group
										%textarea.form-control.input-lg{:rows=>"3" , :placeholder=>"Tell us more. What are your needs?"}
								.col-md-12.half-margin-top
									.text-center
										%button.btn-primary.btn.btn-lg.btn-strech{:type=>"submit"}
											Send message
						.text-center.double-margin-top
							%h6.bold-font-name
								GENERAL COMMUNICATION
							%p
								For general queries, including lorem ipsum, please email 
								%br
								%a{:href=>"#"}
									info@everleads.com
					.col-md-2

